<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--<compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>-->
    <httpRuntime maxRequestLength="10240" executionTimeout="360" />
    <!--<customErrors mode="off" defaultRedirect="PageNotFound.aspx">
     <error statusCode="404" redirect="PageNotFound.aspx"/>
      <error statusCode="500" redirect="PageNotFound.aspx"/>

    </customErrors>-->
    <customErrors mode="Off" />
    <globalization uiCulture="en-US" culture="en-US" enableClientBasedCulture="false" />
    <trust level="Full" originUrl="" />
    <compilation targetFramework="4.0" debug="true" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" />
    <add name="constr" connectionString="Data Source=182.50.133.111; Initial Catalog=cookedin_new;User ID=chefadmin;Password=7225daedell1400" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="homepg.aspx" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
   
    <add key="ServiceTAX" value="14.5" />
    
    <!--Shipping Charge Calculation-->
    <add key="DeliveryCharge" value="50" />   <!--Pass Int Value Only-->
    <add key="DeliveryPerKM" value="8" />      <!--Pass Int Value Only-->
    <add key="DefaultDistance" value="4" />   <!--Pass Int Value Only-->
    <add key="DeliveryRange" value="8" />  <!--Pass Int Value Only-->
    <add key="OutOFDeliveryRangeMessage" value="Sorry , For this Area we are not Serviceing.." />
	     <add key="CartDishRemoveMessage" value="Please Remove the dish where we can not deliver." />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="vertilexwebsolutions@gmail.com">
        <network host="relay-hosting.secureserver.net" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>